:root {
  --bg1: #2e3440;
  --bg2: #3b4252;
  --bg3: #434c5e;
  --bg4: #4c566a;
  
  --fg1: #eceff4;
  --fg2: #e5e9f0;
  --fg3: #d8dee9;
}

body, html, main {
  background-color: var(--bg1);
  color: var(--fg1);
  margin: 0;
  width: 100%;
  height: 100%;
}